# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
aiohttp=3.8.1=pypi_0
aiosignal=1.2.0=pypi_0
appdirs=1.4.4=pypi_0
async-timeout=4.0.2=pypi_0
asynctest=0.13.0=pypi_0
attrs=21.4.0=pypi_0
beautifulsoup4=4.11.1=pypi_0
bs4=0.0.1=pypi_0
certifi=2020.6.20=pyhd3eb1b0_3
charset-normalizer=2.0.12=pypi_0
click=8.0.4=pypi_0
colorama=0.4.4=pypi_0
cssselect=1.1.0=pypi_0
dataclasses=0.8=pypi_0
fake-useragent=0.1.11=pypi_0
flask=2.0.3=pypi_0
frozenlist=1.2.0=pypi_0
future=0.18.2=pypi_0
idna=3.3=pypi_0
idna-ssl=1.1.0=pypi_0
importlib-metadata=4.8.3=pypi_0
importlib-resources=5.4.0=pypi_0
itsdangerous=2.0.1=pypi_0
jinja2=3.0.3=pypi_0
line-bot-sdk=2.2.1=pypi_0
lxml=4.8.0=pypi_0
markupsafe=2.0.1=pypi_0
multidict=5.2.0=pypi_0
parse=1.19.0=pypi_0
pip=21.2.2=py36haa95532_0
pyee=8.2.2=pypi_0
pyppeteer=0.2.6=pypi_0
pyquery=1.4.3=pypi_0
python=3.6.13=h3758d61_0
requests=2.27.1=pypi_0
requests-html=0.10.0=pypi_0
schedule=1.1.0=pypi_0
setuptools=58.0.4=py36haa95532_0
six=1.16.0=pypi_0
soupsieve=2.3.2.post1=pypi_0
sqlite=3.38.2=h2bbff1b_0
tqdm=4.64.0=pypi_0
typing-extensions=4.1.1=pypi_0
urllib3=1.26.9=pypi_0
vc=14.2=h21ff451_1
vs2015_runtime=14.27.29016=h5e58377_2
w3lib=1.22.0=pypi_0
websockets=9.1=pypi_0
werkzeug=2.0.3=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
wincertstore=0.2=py36h7fe50ca_0
yarl=1.7.2=pypi_0
zipp=3.6.0=pypi_0
